.message
  .upper-info
    .upper-info__user
      = message.user.name
    .upper-info__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .lower-meesage
    - if message.content.present?
      %p.message__text
        = message.content
    = image_tag message.image_url, class: 'lower-message__image' if message.image_url.present?